.hiddenbutton {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
.grid-box {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-auto-rows: 20rem;
  gap: 40px;
  justify-content: center;
  padding: 30px;
}
.pop-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-btn-style {
  margin: 1rem;
  border: none;
  padding: 0.4rem;
  background: rgba(5, 102, 141, 0.72);
  box-shadow: 0px 62px 80px rgba(0, 0, 0, 0.5),
    0px 22.631px 29.2013px rgba(0, 0, 0, 0.344991),
    0px 10.9869px 14.1767px rgba(0, 0, 0, 0.278145),
    0px 5.386px 6.94968px rgba(0, 0, 0, 0.221855),
    0px 2.12963px 2.74791px rgba(0, 0, 0, 0.155009);
  border-radius: 14px;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
  width: 10rem;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .grid-box {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 750px) {
  .grid-box {
    grid-template-columns: 1fr;
  }
}
